:root {
    --primary: #e69142;;
    --bg: #010101
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background-color: var(--bg);
    color: white;
    min-height: 3000px;

}

/* Navbar */
.Navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1,0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.Navbar .Navbar-Logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    font-style: italic;
}

.Navbar .Navbar-Logo span {
    color: var(--primary);
}

.Navbar .Navbar-Nav a {
    font-style: 1.4rem;
    display: inline-block;
    margin: 0 1rem;
    color: white;
    
}

.Navbar .Navbar-Nav a:hover{
    color: var(--primary);
}

.Navbar .Navbar-Nav a::after{
   content: '';
   display: block;
   padding-bottom: 0.5rem;
   border-bottom: 0.1rem solid var(--primary);
   transform: scaleX(0);
   transition: 0.2s linear;
}

.Navbar .Navbar-Nav a:hover::after{
    transform: scaleX(0.5);
  
}

.Navbar .navbar-extra a{
    color: white;
    margin: 0.5rem;
  
}

.Navbar .navbar-extra a:hover{
    color: var(--primary);
    margin: 0.5rem;
  
}

#menulist {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1,1,3,1) 1%, rgba(255,255,255,0) 35%);

}

.hero .content {
    padding: 1.7rem 8%;
    max-width: 30rem;
   
}

.hero .content h1{
    color: white;
    font-size: 2.4em;
    text-shadow: 1px 1px 3px rgb(1, 1, 3) 0.5%;
    line-height: 1.2;
}

.hero .content h1 span {
    color: #33200e;
    font-style: oblique;
    font-size: 4rem;
}

.hero .content p {
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.5;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgb(3, 2, 1) 0.5;
    /* mix-blend-mode: difference; */
    color: #ffffff !important;
}

.hero .content .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--primary);
}

/* About and Menu Section */
.about , .menu  {
    padding: 8rem 7% 1.4rem;
}
.about h2 , 
.menu h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.6;
}

/* menu section */
.menu h2 {
    margin-bottom: 1rem;
}
.menu p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5;
}

#menukita .moment img {
    margin-top: 5px;
    width: 30%;
}

#menukita .f_moment {
    margin-left: 100px;
}

/* contact */
  
  .p-menu2 {
    padding: 0;
    margin-bottom: 100;
  }
  
  .p-menu3 {
    margin-left: 1%;
    padding: 0;
    margin-bottom: 100;
  }

  #contact .p-menu {
    width: 5%;
  }

  #contact .p-menu2, .p-menu3 {
    width: 4.5%;
  }

#contact {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
}

/* media QUERIES */

/* Laptop */
    @media (max-width :1366px) {
        html {
            font-size: 100%;
        }
    }
/* Tablet */
    @media (max-width :758px) {
        html {
            font-size: 60%; 
        }

        #menulist {
            display: inline-block;
        }

        .Navbar .Navbar-Nav {
            position: absolute;
            top: 100%;
            right: -100%;
            background-color: white;
            width: 30rem;
            height: 100vh;
            transition: 0.5s;
        }

        .Navbar .Navbar-Nav.active {
            right: 0;
        }

        .Navbar .Navbar-Nav a {
            color: var(--bg);
            display: block;
            margin: 1.5rem;
            padding: 0.5rem;
            font-size: 2rem;
        }

        .Navbar .Navbar-Nav a::after {
            transform-origin: 0 0;
        }

        .Navbar .Navbar-Nav a:hover::after {
            transform:scaleX(0.2)
        }

        .hero .content h1 {
            font-size: 3.7rem;
        }

        .hero .content p {
            font-size: 1.2rem;
        }

        .hero .content .cta {
            font-size: 1.5rem;
        }

        .about .row {
            flex-wrap: wrap;
        }

        .about .row .about-img img {
            height: 24rem;
            object-fit: cover;
            object-position: center;
        }

        .about .row .content {
            padding: 0;
        }

        .about .row .content h3 {
            margin-top: 1rem;
            font-size: 2rem;
        }
    
        .about .row .content p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    
    }

/* Mobile */
    @media (max-width :450x) {
        html {
            font-size: 45%;     
        }
    }